# Config file to generic feed
#
# Made by Luska1331

# Pyrogram requirements
API_ID: int = None
API_HASH: str = None
BOT_TOKEN: str = None

# GenericFeed requirements
MONGODB_URI: str = None
OWNER_ID: int = None
DEV_LIST: list = []
DEV_LIST.append(OWNER_ID)

CHAT_LIST: list = [
    -1001783751625,
]

FEED_FORMATTER_TEMPLATE: str = """
<a href="{url}">{title}</a> | {feed_title}

<i>{summary}</i>
@TiFu_News

"""
